Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MetaHumans/Baby_Metahuman_ID/BP_Baby_Metahuman_ID.uasset
clip_001.uproject
